
<table class="table table-hover table-inverse">
  <% comments.each do |comment| %>
  <tr>
    <td class="text-left page-text">
      <%= link_to admin_customer_path(comment.customer) do %>
        <%= comment.customer.last_name + comment.customer.first_name %>
      <% end %>
    </td>
    <td class="text-right page-text">
      <%= comment.comment %><br />
      <%= link_to "削除", admin_menu_comment_path(comment.menu_id,comment.id), method: :delete, remote: true , "data-confirm" => "本当に消しますか？", class: "btn-text" %>
    </td>
  </tr>
  <% end %>
</table>





