<h3>コメント一覧</h3>
<% @comments.each do |comment| %>
  <%= link_to admin_customer_path(comment.customer) do %>
    <%= comment.customer.last_name + comment.customer.first_name %>
  <% end %>
  <%= comment.comment %>
  <%= link_to "削除", menu_comment_path(comment.menu_id,comment.id), method: :delete, "data-confirm" => "不適切とみなし削除しますか？" %><br />
  
<% end %>
