<div class="containar">
  <div class="row  offset-1">
    <div class="col-lg-6">
      <h3 class="page-title">会員一覧</h3>
    </div>
  </div>

  <div class="row text-center">
    <div id="customers-index" class="col-md-10 offset-1">
      <%= render "admin/customers/index", customers: @customers %>
    </div>
  </div>
</div>