<h3>会員一覧</h3>
<% @customers.each do |customer| %>
  <%= link_to admin_customer_path(customer) do %>
    <%= customer.id %>
    <%= customer.last_name + customer.first_name %><br />
  <% end %>
<% end %>