<div class="container">
 <h4>あなたにおすすめのメニューは</h4>
</div>
<div class="px-md-5">
  <div class="row mx-md-5">
    <table class="table mx-5 table-hover table-inverse">
      <% @menus.each do |menu| %>
        <thead class="thead-ligit">
          <tr>
            <th style="width: 50%;">メニュー名:　<%= menu.name %></th>
            <th class="text-right" style="width: 50%;">部位:<%= menu.site_name_i18n %></th>
          </tr>
        </thead>
        
        <tbody>
        <tr>
          <td class="text-center"><%= menu.description %></td>
          <td class="text-right">
          <%= link_to "内容を見る", menu_path(menu.id),class: "btn btn-outline-info justify-content-end" %>
          </td>
          
        </tr>
      <% end %>
    </table>
  </div>
</div>
  