<div class="container pl-5">
 <h4 class="page-title">あなたにおすすめのメニューは</h4>
</div>
<div class="px-md-5">
  <div class="row mx-md-5 px-md-5">
    <% if @menus.count == 0 %>
    <div class="col-12 px-5">
      <p class="page-text mx-4">まだメニューが投稿されていません。<br />投稿されるまで今しばらお待ちくださいますようお願い申し上げます。</p>
    </div>
    <% else %>
      <div id="diagnosis-index" class="col-12 px-5">
        <%= render "public/menus/index", menus: @menus %>
      </div>
    <% end %>
  </div>
</div>
  