<div class="container">
  <h2 class="page-title">検索結果</h2>
</div>
<div class="px-md-5">
  <div class="row mx-md-5">
    <% if @menus.count == 0 %>
    <div class="mx-5">
      <p class="page-text mx-5">検索結果がありませんでした。</p>
    </div>
    <% else %>
      <div id="search-index" class="col-12 px-5">
        <%= render "public/menus/index", menus: @menus %>
      </div>
    <% end %>
  </div>
</div>
  