<div class="container">
  <h2 class="page-title">検索結果</h2>
</div>
<div class="px-md-5">
  <div class="row mx-md-5">
    <% if @menus.count == 0 %>
      <div class="mx-5">
        <p class="page-text">検索結果はありませんでした。</p>
      </div>
    <% else %>
      <div id="admin-search-index" class="col-12 px-5">
        <%= render "admin/menus/index", menus: @menus %>
      </div> 
    <% end %>
  </div>
</div>
  