
  <div class="row pt-5">
    <div class="col-sm-12 col-md-3 px-5 mb-5">
      <%= link_to "このページの全てを削除", admin_menu_path(@menu),  method: :delete,
        "data-confirm" => "メニュー、投稿したストレッチ、コメントが全て消えてしまいます。\r\n本当に削除しますか？", class: "btn btn-danger btn-text" %>
    </div>                                        
    <div class="col-sm-12 col-md-6 px-5 mb-5">
      <h3 class="page-title"><%= @menu.name %></h3>
      <% if @menu_items.count == 0 %>
        <p class="page-text text-center">
          現在、ストレッチは投稿されておりません。<br />
          今しばらくお待ちください。
        </p>
      <% else %>
        <div id="admin-menu_items-index" class="admin_menu_items_area">
          <%= render "admin/menu_items/index", menu: @menu, menu_items: @menu_items %>
        </div>
      <% end %>
    </div>
    <div class="col-sm-12 col-md-3 px-5">
      <div id="admin-comments-index">
        <%= render "admin/comments/comments_page", menu: @menu, comments: @comments %>
      </div>
      
    </div>
  </div>






