<div>
  <%= link_to "ログアウト", destroy_customer_session_path, method: :delete %>
  
  <%= link_to "マイページ", customers_path %>
  <%= link_to "メニュー一覧", menus_path %>
  <%= link_to "診断開始", new_hearing_path %>
</div>